/*monitor*/
@media screen and (min-width: 975px) {
   
    .header{
        width: 95vw;
        height: 60px;
        margin: auto;
    }

    .koronasrbijah{
        text-align: center;
        color: rgb(221, 221, 221);
        margin-top: 0;
        padding-top: 15px;
        font-size: 25px;
    }

    .reklame{
        width: 100%;
        height: 100px;
    }

    .footer{
        width: 95vw;
        height: 50px;
        color: rgb(221, 221, 221);;
        padding-left: 50px;
        position: relative;
    }

    .fb-share-button{
        position: absolute;
        left: 250px;
        bottom: 32px;
    }

    .ikonicaback{
        color:white;
        display: inline-block;
        position: absolute;
        top:20px;
        cursor: pointer;
    }

    .detaljnije{
        width: 900px;
        margin: auto;
        color: rgb(221, 221, 221);
        line-height: 1.6;
    }

    h2{
        font-weight: normal;
    }

    h3{
        font-weight: normal;
    }


    p{
        font-size: 16px;
        text-align: justify;
    }


    hr{
        width: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

}




/*telefon*/
@media screen and (max-width: 975px) {
    
    .header{
        width: 90vw;
        height: 60px;
        margin: auto;
        position: relative;
    }

    .koronasrbijah{
        text-align: center;
        color: rgb(221, 221, 221);
        font-size: 16px;
        position: absolute;
        top: 12px;
        left: 50px;
    }

    .reklame{
        width: 100%;
        height: 80px;
        margin: auto;
    }

    .footer{
        width: 95vw;
        height: 50px;
        color: rgb(221, 221, 221);;
        padding-left: 50px;
        position: relative;
    }

    .fb-share-button{
        position: absolute;
        left: 250px;
        bottom: 32px;
    }

    .ikonicaback{
        color:white;
        display: inline-block;
        position: absolute;
        top:20px;
        
    }

    .detaljnije{
        width: 90%;
        margin: auto;
        color: rgb(221, 221, 221);
        line-height: 1.6;
    }

    h2{
        font-weight: normal;
    }

    h3{
        font-weight: normal;
    }


    p{
        font-size: 16px;
        text-align: justify;
    }


    hr{
        width: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}