<div class = header>
    <mat-icon [routerLink]="['']"  class = 'ikonicaback'>arrow_back_ios</mat-icon>
    <h1 class = "koronasrbijah">Koronasrbija.info - COVID-19</h1>
</div>


<div>
    <p class = "azuriranje" >{{virus?.country}}</p>
    <p class = "azuriranje" >Ažurirano: <span>{{ukupnoService?.updated | date:'d MMM y, H:mm'}} </span></p>

    <p class = "ukupno" >Ukupno</p>
    <p class = "ukupnobroj" > {{virus?.cases}}</p>

    <p class = "novihslucajeva">Novi slučajevi</p>
    <p class = "novihslucajevabroj" > {{virus?.todayCases}} </p>

    <p class = "ukupnoumrlih" >Ukupno umrlih</p>
    <p class = "ukupnoumrlihbroj" > {{virus?.deaths}}</p>

    <p class = "novihumrlih" >Novi smrtni slučajevi</p>
    <p class = "novihumrlihbroj" > {{virus?.todayDeaths}}</p>

    <p class = "ukupnooporavljenih" >Ukupno oporavljenih </p>
    <p class = "ukupnooporavljenihbroj" > {{virus?.recovered}} </p>

    <p class = "aktivni" >Broj aktivnih</p>
    <p class = "aktivnibroj" >  {{virus?.active}}</p>

    <p class = "kriticnih" >Broj kritičnih</p>
    <p class = "kriticnihbroj" > {{virus?.critical}} </p>
</div>


<div id="lineChart"><mat-spinner style="margin: auto;"></mat-spinner></div>


<div class = footer>
    <p>2020 © Koronasrbija.info</p>
</div>