.name{
    color: rgb(207, 207, 207);
    font-size: 20px;
    text-align: left;
    margin-bottom: 0;
    margin-left: 50px;
    cursor: pointer;
}


.azuriranje{
    color: rgb(207, 207, 207);
    text-align: center;
    margin-top: 10px;
}

.mat-drawer{
    background-color: rgb(48, 48,48);
    height: 95vh;
}

.example-container{
    background-color: rgb(48, 48,48);
    height: 95vh;
}

.example-viewport {
    height: 100%;
    width: 300px;
}
  
.example-viewportt {
    height: 100%;
    width: 100%;
}

.mat-icon{
    cursor: pointer;
}



 /*Monitor*/
 @media screen and (min-width: 975px) {
    
    /********************/
    .ukupnodiv{
        width: 50%;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid rgb(90, 90, 90);

    }
    .ukupno{
        color: rgb(207, 207, 207);
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:200px;
        margin-left: 100px;
        margin-right: 100px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .ukupnobrojlevo{
        color: rgb(207, 207, 207);
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ukupnobrojdesno{
        color: rgb(207, 207, 207);
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
   


    /********************/
    .novislucajevidiv{
        width: 50%;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid rgb(90, 90, 90);

    }
    .novislucajevi{
        color: rgb(207, 207, 207);
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:200px;
        margin-left: 100px;
        margin-right: 100px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .novislucajevilevo{
        color: rgb(207, 207, 207);
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .novislucajevidesno{
        color: rgb(207, 207, 207);
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }
   

    /********************/

    .ukupnoumrlihdiv{
        width: 50%;
        margin: auto;
        text-align: center;
        border-bottom: 1px solid rgb(90, 90, 90);

    }
    .ukupnoumrlih{
        color: rgb(207, 207, 207);
        font-size: 40px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:200px;
        margin-left: 10px;
        margin-right: 100px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .ukupnoumrlihlevo{
        color: rgb(207, 207, 207);
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ukupnoumrlihdesno{
        color: rgb(207, 207, 207);
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
    }










    .sve{
        width: 100%;
        text-align: center;
    }
   #lineChart{
        width: 900px; 
        height: 400px; 
        margin: auto; 
        margin-top: 50px;
    }

    #lineChartDnevno{
        width: 900px; 
        height: 400px; 
        margin: auto; 
        margin-top: 50px;
    }



    .header{
        width: 95vw;
        height: 60px;
        margin: auto;
        position: relative;

    }
    .koronasrbijah{
        text-align: center;
        color: rgb(221, 221, 221);
        margin-top: 0;
        padding-top: 15px;
        font-size: 25px;
    }
    
    .ikonicaback{
        color:white;
        display: inline-block;
        position: absolute;
        top:20px;
        cursor: pointer;
    }

    .footer{
        width: 95vw;
        height: 50px;
        color: rgb(221, 221, 221);;
        padding-left: 50px;
    }
  
    .dijagramline{
        width:50%;
        margin: auto;
        margin-top: 100px;
    }

    .dijagrampie{
        width:70%;
        margin: auto;
        margin-top: 100px;
    }
    

        

        .novihslucajeva{
            color: rgb(207, 207, 207);
            font-size: 40px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            width:50%;
            margin-left: auto;
            margin-right: auto;
            font-family: Arial, Helvetica, sans-serif;

        }

        .novihslucajevabroj{
            color: rgb(207, 207, 207);
            font-size: 50px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid rgb(90, 90, 90);
            font-family: Arial, Helvetica, sans-serif;

        }


        .ukupnoumrlih{
            color: rgb(207, 207, 207);
            font-size: 40px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            width:50%;
            margin-left: auto;
            margin-right: auto;
            font-family: Arial, Helvetica, sans-serif;

        }
        
        .ukupnoumrlihbroj{
            color: rgb(211, 0, 0);
            font-size: 50px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid rgb(90, 90, 90);
            font-family: Arial, Helvetica, sans-serif;

        }
        
        
        
        
        .novihumrlih{
            color: rgb(207, 207, 207);
            font-size: 40px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            width:50%;
            margin-left: auto;
            margin-right: auto;
            font-family: Arial, Helvetica, sans-serif;

        }
        
        .novihumrlihbroj{
            color: rgb(211, 0, 0);
            font-size: 50px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid rgb(90, 90, 90);
            font-family: Arial, Helvetica, sans-serif;

        }
        
        
        
        
        
        .ukupnooporavljenih{
            color: rgb(207, 207, 207);
            font-size: 40px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            width:50%;
            margin-left: auto;
            margin-right: auto;
            font-family: Arial, Helvetica, sans-serif;

        }
        
        .ukupnooporavljenihbroj{
            color: rgb(18, 151, 0);
            font-size: 50px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid rgb(90, 90, 90);
            font-family: Arial, Helvetica, sans-serif;

        }
        
        
        .aktivni{
            color: rgb(207, 207, 207);
            font-size: 40px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            width:50%;
            margin-left: auto;
            margin-right: auto;
            font-family: Arial, Helvetica, sans-serif;

        }
        
        .aktivnibroj{
            color: rgb(212, 145, 0);
            font-size: 50px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid rgb(90, 90, 90);
            font-family: Arial, Helvetica, sans-serif;

        }
        
        .kriticnih{
            color: rgb(207, 207, 207);
            font-size: 40px;
            text-align: center;
            margin-bottom: 10px;
            margin-top: 10px;
            width:50%;
            margin-left: auto;
            margin-right: auto;
            font-family: Arial, Helvetica, sans-serif;

        }
        
        .kriticnihbroj{
            color: rgb(211, 0, 0);
            font-size: 50px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 1px solid rgb(90, 90, 90);
            font-family: Arial, Helvetica, sans-serif;

        }

        .reklame{
            width: 100%;
            height: 100px;
        }
        

  }
















/*telefon*/
@media screen and (max-width: 975px) {

    .reklame{
        width: 100%;
        height: 80px;
    }


    .dijagramline{
        width:90%;
        margin: auto;
        margin-top: 100px;
    }
  
    .footer{
        width: 95vw;
        margin: auto;
        color: rgb(221, 221, 221);;
        font-size: 15px;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .sve{
        width: 90vw;
        text-align: center;
        margin: auto;
      
    }


    #lineChart{
        width: 90vw; 
        height: 400px; 
        margin: auto; 
        margin-top: 50px;
    }

    #lineChartDnevno{
        width: 90vw; 
        height: 400px; 
        margin: auto; 
        margin-top: 50px;
    }


    .header{
        width: 90vw;
        height: 60px;
        margin: auto;
        position: relative;
    }

    .koronasrbijah{
        text-align: center;
        color: rgb(221, 221, 221);
        font-size: 16px;
        position: absolute;
        top: 12px;
        left: 50px;
    }

    .ikonicaback{
        color:white;
        display: inline-block;
        position: absolute;
        top:20px;
        
    }
    .ukupno{
        color: rgb(207, 207, 207);
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;
    }

    .ukupnobroj{
        color: rgb(207, 207, 207);
        font-size: 35px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(90, 90, 90);
        font-family: Arial, Helvetica, sans-serif;

    }

    .novihslucajeva {
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        color: rgb(207, 207, 207);
        font-family: Arial, Helvetica, sans-serif;

    }

    .novihslucajevabroj{
        color: rgb(207, 207, 207);
        font-size: 35px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(90, 90, 90);
        font-family: Arial, Helvetica, sans-serif;

    }

        
    .ukupnoumrlih{
        color: rgb(207, 207, 207);
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;

    }

    .ukupnoumrlihbroj{
        color: rgb(211, 0, 0);
        font-size: 35px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(90, 90, 90);
        font-family: Arial, Helvetica, sans-serif;

    }




    .novihumrlih{
        color: rgb(207, 207, 207);
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;

    }

    .novihumrlihbroj{
        color: rgb(211, 0, 0);
        font-size: 35px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(90, 90, 90);
        font-family: Arial, Helvetica, sans-serif;

    }





    .ukupnooporavljenih{
        color: rgb(207, 207, 207);
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;

    }

    .ukupnooporavljenihbroj{
        color: rgb(18, 151, 0);
        font-size: 35px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(90, 90, 90);
        font-family: Arial, Helvetica, sans-serif;

    }


    .aktivni{
        color: rgb(207, 207, 207);
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;

    }

    .aktivnibroj{
        color: rgb(212, 145, 0);
        font-size: 35px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(90, 90, 90);
        font-family: Arial, Helvetica, sans-serif;

    }

    .kriticnih{
        color: rgb(207, 207, 207);
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
        width:80%;
        margin-left: auto;
        margin-right: auto;
        font-family: Arial, Helvetica, sans-serif;

    }

    .kriticnihbroj{
        color: rgb(211, 0, 0);
        font-size: 35px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        border-bottom: 1px solid rgb(90, 90, 90);
        font-family: Arial, Helvetica, sans-serif;

    }


    .reklame{
        width: 100%;
        height: 80px;
    }

  }

 

