
::ng-deep :root{
    --sirina:900px
}



::ng-deep mat-label {
    color: rgb(206, 206, 206);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: rgb(206, 206, 206);
}

::ng-deep .mat-form-field-wrapper{
    padding-bottom: 0;
}

.mat-input-element{
    color: rgb(206, 206, 206);
}

.mat-form-field{
    width: 250px;
    padding-left: 20px;
}


/*monitor*/
@media screen and (min-width: 975px) {
    .koronasrbijah{
        text-align: center;
        color: rgb(221, 221, 221);
        margin-top: 0;
        padding-top: 15px;
        font-size: 25px;
    }
    .header{
        width: 95vw;
        height: 60px;
        margin: auto;
    }

    .footer{
        width: 95vw;
        height: 50px;
        color: rgb(221, 221, 221);;
        padding-left: 50px;
        position: relative;
    }

    .fb-share-button{
        position: absolute;
        left: 250px;
        bottom: 32px;
    }

    .scroll{
        width: 900px; 
        height: 630px; 
        margin-top: 10px;
    }
     .uporedi{
        font-size: 20px;
    }
    .sve{
        width: 100%;
        text-align: center;
    }
    .koronasrbija{
        text-align: center;
        color: rgb(221, 221, 221);
        margin-top: 100px;
        font-size: 30px;
    }
    .reklame{
        width: 100%;
        height: 100px;
    }
    .azurirano{
        color: white; 
        font-weight: normal;
    }



    #lineChart{
        width: 900px; 
        height: 400px; 
        margin: auto; 
        margin-top: 50px;
    }
 





    .polje{
        width: 260px;
        height: 150px;
        background-color: rgb(40, 40, 40) ;
        font-size: 22px;
        position: relative;
        display: inline-block;
        border: 30px solid rgb(48, 48, 48) ;
        border-radius: 40px;
    }

    .ukupno{
        position: absolute;
        width: 100%;
        color: white;
    }

    .ukupnobroj{
        position: absolute;
        top: 50px;
        color: rgb(207, 207, 207);
        width: 100%;
    }

    .zemlje{
        width: 80vw;
        margin: auto;
        margin-top: 100px;
    }
    .svezemlje{
        background-color: rgb(40, 40, 40) ;
        width: 900px;
        height:800px;
        border-radius: 20px;
        margin: auto;
    }

    .drzave{
        color: white;
        font-weight: normal;
        padding-top: 20px;
        padding-left: 20px;
    }

    .drzavastavka{
        cursor: pointer;
        width: 100%;
        height: 60px;
        background-color: rgb(40, 40, 40) ;
        border-bottom: solid 1px rgb(92, 92, 92);
    }

    .drzavastavka:focus{
        outline: none;
    }
    
    .drzavastavkanaziv{
        padding-left: 20px;
        font-size: 18px;
        font-family: sans-serif;
        margin-bottom: 0;
    }

    .drzavastavkacasesdeaths{
        padding-left: 20px;
        font-size: 15px;
        font-family: sans-serif;
        margin-top: 5px;
    }

    .drzavastavkanewcases{
        float: right;
        margin-right: 20px;
        font-size: 15px;
        font-family: sans-serif;
    }


    .drzavastavkanewdeaths{
        float: right;
        margin-right: 20px;
        font-size: 15px;
        font-family: sans-serif;
    }
    
    .dobrodosli{
        width: 900px;
        margin: auto;
        color: white;
        text-align: justify;
        line-height: 1.6;
    }

    .sadrzaj{
        color: white;
        font-size: 18px;
    }

    .sadrzajdetaljnije{
        cursor: pointer;
    }

    .sadrzajsrbija{
        cursor: pointer;
    }



    .detaljnije{
        width: 900px;
        margin: auto;
        margin-top: 100px;
        color: rgb(221, 221, 221);
        line-height: 1.6;
    }

    h2{
        font-weight: normal;
    }

    h3{
        font-weight: normal;
    }


    .detaljnije p{
        font-size: 16px;
        text-align: justify;
    }


    hr{
        width: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }








    

}


/*telefon*/
@media screen and (max-width: 975px) {
    .sve{
        width: 90vw;
        text-align: center;
        margin: auto;
      
    }
    .reklame{
        width: 100%;
        height: 80px;
    }

    .header{
        width: 90vw;
        height: 60px;
        margin: auto;
    }

    .uporedi{
        font-size: 20px;
    }
    .koronasrbijah{
        text-align: center;
        color: rgb(221, 221, 221);
        margin-top: 0;
        padding-top: 15px;
        font-size: 20px;
    }
    
    .koronasrbija{
        text-align: center;
        color: rgb(221, 221, 221);
        margin-top: 50px;
        font-size: 25px;
    }
    .azurirano{
        color: white; 
        font-weight: normal;
        font-size: 18px;
    }
 
    .polje{
        width: 80%;
        height: 100px;
        background-color: rgb(40, 40, 40) ;
        font-size: 20px;
        position: relative;
        border-radius: 20px;
        display: inline-block;
        border: 5px solid rgb(48, 48, 48) ;
    }
    .ukupno{
        position: absolute;
        width: 100%;
        color: white;
        font-size: 15px;
    }

    .ukupnobroj{
        position: absolute;
        top: 27px;
        color: rgb(207, 207, 207);
        font-size: 18px;
        width: 100%;
    }

    .zemlje{
        width: 80vw;
        margin: auto;
        margin-top: 50px;
    }
    .svezemlje{
        background-color: rgb(40, 40, 40) ;
        width: 100%;
        height:700px;
        border-radius: 20px;
        margin: auto;
    }

    .scroll{
        width: 100%; 
        height: 530px; 
        margin-top: 10px;
    }

    .drzave{
        color: white;
        font-weight: normal;
        padding-top: 20px;
        padding-left: 20px;
    }

    .drzavastavka{
        width: 100%;
        height: 60px;
        background-color: rgb(40, 40, 40) ;
        border-bottom: solid 1px rgb(92, 92, 92);
    }
    
    .drzavastavkanaziv{
        padding-left: 20px;
        font-size: 12px;
        font-family: sans-serif;
        margin-bottom: 0;
        padding-top: 10px;
    }

    .drzavastavkacasesdeaths{
        padding-left: 20px;
        font-size: 12px;
        font-family: sans-serif;
        margin-top: 5px;
    }

    .drzavastavkanewcases{
        float: right;
        margin-right: 20px;
        font-size: 12px;
        font-family: sans-serif;
    }

    .drzavastavkanewdeaths{
        float: right;
        margin-right: 20px;
        font-size: 12px;
        font-family: sans-serif;
    }


    #lineChart{
        width: 90vw; 
        height: 400px; 
        margin: auto; 
        margin-top: 50px;
    }
    

    .footer{
        width: 95vw;
        margin: auto;
        color: rgb(221, 221, 221);;
        font-size: 15px;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .dobrodosli{
        width: 85vw;
        margin: auto;
        color: white;
        text-align: justify;
        line-height: 1.4;
        font-size: 15px;
    }

    .sadrzaj{
        color: white;
        font-size: 15px;
    }

  

    .detaljnije{
        width: 90%;
        margin: auto;
        color: rgb(221, 221, 221);
        line-height: 1.6;
        margin-top: 100px;

    }

    h2{
        font-weight: normal;
    }

    h3{
        font-weight: normal;
    }


    .detaljnijep{
        font-size: 16px;
        text-align: justify;
    }


    hr{
        width: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
    }



    




}





