<div class = header>
    <h1 class = "koronasrbijah">Koronasrbija.info - COVID-19</h1>
</div>




<div class = "sve">

    <div class = "reklame">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Horizontalna reklama -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-6358825247345290"
             data-ad-slot="8972959270"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class = "dobrodosli">
        <p>Dobrodošli na sajt Koronasrbija.info. 
            Na sajtu možete uživo da pratite sve podatke vezane za Korona virus u Srbiji 
            kao i u ostatku sveta. Imate mogućnost da pogledate ukupne podatke vezane za ceo 
            svet kao i za svaku državu posebno. Od podataka možete videti broj slučajeva, 
            umrlih, oporavljenih, kritičnih i aktivnih od početka širenja COVID19 virusa kao i 
            u tekućem danu. Pored ovih podataka imate prikazane grafikone 
            gde možete videti istoriju slučajeva, oporavljenih i umrlih ukupno u celom 
            svetu kao i po državi.
        </p>
    </div>
    
    <h2 class = "koronasrbija">Slučajevi korona virusa</h2>
    <h2 class = "azurirano">Ažurirano: <span>{{ukupno?.updated | date:'d MMM y, H:mm'}} </span></h2>
    
   <!-- <div class = "sadrzaj">
        <p><span class = "sadrzajdetaljnije" [routerLink]="['/covid19']">Detaljnije o COVID-19</span> - <span class = "sadrzajsrbija" [routerLink]="[ '/drzava', 'serbia']">Srbija</span></p>
    </div>
-->

    <div class = 'polje'>
        <p class = "ukupno">Ukupno</p>
        <p class = "ukupnobroj">{{ukupno?.cases | number}} <span style="font-size: 15px;">({{todayCases | number}} danas)</span></p>
        <div style="background-color: rgb(40, 93, 207); width: 80%; height: 5px; margin: auto; position: relative; top: 80%;" ></div>
    </div>  
 
    
    <div class = 'polje'>
        <p class = "ukupno" >Ukupno umrlih</p>
        <p class = "ukupnobroj" >{{ukupno?.deaths | number}} <span style="font-size: 15px;">({{todayDeaths | number}} danas)</span></p>
        <div style="background-color: rgb(189, 44, 0); width: 80%; height: 5px; margin: auto; position: relative; top: 80%;" ></div>

    </div> 
 
    <div class = 'polje'>
        <p class = "ukupno">Ukupno oporavljenih</p>
        <p class = "ukupnobroj">{{ukupno?.recovered | number}} <span style="font-size: 15px;">({{todayRecovered | number}} ostalo)</span></p>
        <div style="background-color: rgb(14, 116, 5); width: 80%; height: 5px; margin: auto; position: relative; top: 80%;" ></div>
    </div> 

</div>

<div class = "zemlje">

    <div class = "svezemlje" style="position: relative;" >
        <h2 class = "drzave">Države</h2>
        
        <mat-form-field appearance="outline" >
            <mat-label>Pretraga država</mat-label>
            <input matInput [(ngModel)]="pretraga" autocomplete="off">
        </mat-form-field>
            

    <perfect-scrollbar class = "scroll">

        <div class = "drzavelista" >
            <div class = "drzavastavka" *ngFor="let z of sveZemlje | zemljeFilter:pretraga" [routerLink]="[ '/drzava', z.country.toLowerCase()]" (click)="sacuvajZemlju(z.country)">
                <div>
                    <p class = "drzavastavkanaziv" style="color:rgb(221, 221, 221); font-weight: normal;">{{z?.naziv}} <span class = "drzavastavkanewcases" style="color: rgb(108, 154, 255); font-weight: bold;">+{{z?.todayCases | number}} slučajeva</span></p>
                    <p class = "drzavastavkacasesdeaths" style="color: rgb(221, 221, 221);"> <span style="color: rgb(108, 154, 255); font-weight: bold;">{{z?.cases | number}} slučajeva</span> , <span style="color: rgb(196, 70, 32); font-weight: bold;">{{z?.deaths | number}} smrti </span><span class = "drzavastavkanewdeaths" style="color: rgb(196, 70, 32); font-weight: bold;">+{{z?.todayDeaths | number}} smrti</span>  </p>
                </div>
            </div>
        </div>
    </perfect-scrollbar>

    </div>



</div>



<div id="lineChart"><mat-spinner style="margin: auto;"></mat-spinner></div>

<div class = "detaljnije">

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <h2 itemprop="name">Koronavirus - Coronavirus - COVID19</h2>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <p itemprop="text">Koronavirus bolest (COVID19) je zarazna bolest koju izaziva novootkriveni koronavirus.
                Većina ljudi zaraženih virusom COVID19 doživeće blagu do umerenu respiratornu bolest 
                i oporaviće se bez posebnog lečenja. Stariji ljudi i oni sa osnovnim medicinskim 
                problemima poput kardiovaskularne bolesti, dijabetesa, hroničnih respiratornih 
                bolesti i raka imaju veću verovatnoću da razviju ozbiljne bolesti.
                Najbolji način za sprečavanje i usporavanje prenosa je dobro informisanje o virusu 
                COVID19, bolesti koju izaziva i kako se širi. Zaštitite sebe i druge od infekcije 
                tako što ćete često prati ruke ili upotrebljavati alkohol i nemojte dirati vaše lice.
                Virus COVID19 se širi prvenstveno kapljicama pljuvačke ili iz nosa kada zaražena 
                osoba kašlje ili kija, pa je zato bitno da to radite u npr. savijeni lakat. 
                U ovom trenutku ne postoje posebne vakcije ili tretmani za COVID19. Međutim, postoji
                mnogo kliničkih ispitivanja koja su u toku kako bi se procenilo moguće lečenje. 
            </p>
        </div>
    </div>

    <hr>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
        <h2 itemprop="name">Prevencija</h2>
        <p>Kako bi sprečili infekciju i usporili prenos COVID19 uradite sledeće:</p>
        <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <ul>
                <li itemprop="text">Redovno perite ruke sapunom i vodom</li>
                <li itemprop="text">Održavajte najmanje 1 metar razdaljine između vas i ljudi koji kašlju ili kijaju.</li>
                <li itemprop="text">Izbegavajte da dirate lice.</li>
                <li itemprop="text">Kad kašljete ili kijate, pokrijte usta i nos.</li>
                <li itemprop="text">Ostanite kod kuće ako vam nije dobro.</li>
                <li itemprop="text">Uzdržite se od pušenja i drugih aktivnosti koje slabe pluća.</li>
                <li itemprop="text">Vežbajte fizičko distanciranje tako što ćete izbegavati nepotrebna putovanja i držati se podalje od velikih grupa ljudi.</li>
            </ul>
        </div>
    </div>


    <hr>
    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">

    <h2 itemprop="name">Simptomi</h2>
    <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">

    <p itemprop="text">COVID-19 virus na različite načine utiče na različite ljude. COVID-19 je respiratorna 
        bolest i većina zaraženih ljudi će razviti blage do umerene simptome i oporaviti se 
        bez posebnog lečenja. Ljudi koji imaju osnovna zdravstvena stanja i oni stariji od 
        60 godina imaju veći rizik od razvoja teške bolesti i smrti.
        Uobičajeni simptomi uključuju:</p>
    <ul>
        <li>Groznica</li>
        <li>Umor</li>
        <li>Suvi kašalj</li>
        <li>Kratak dah</li>
        <li>Bolovi</li>
        <li>Upaljeno grlo</li>
        <li>Dijareja</li>
        <li>Mučnina</li>
        <li>Curenje iz nosa</li>
    </ul>
    <p>Osobe sa blagim simptomima koji su inače zdravi moraju se samoizolovati i obratiti 
        se svom lekaru ili COVID-19 liniji za informacije radi saveta o testiranju i 
        upućivanju. Osobe sa temperaturom, kašljem ili otežanim disanjem treba da pozovu 
        lekara i potraže lekarsku pomoć.
    </p>
</div>
</div>

    
    <hr>
    <h2>Pitanja i odgovori</h2>
    
    <h2>Šta je koronavirus?</h2>
    <p>Koronavirusi su velika porodica virusa koji mogu izazvati bolest kod životinja ili 
        ljudi. Kod ljudi je poznato da nekoliko koronavirusa uzrokuje respiratorne infekcije 
        u rasponu od obične prehlade do težih bolesti i Teški akutni respiratorni sindrom 
        (SARS). Koronavirus koji je nedavno otkriven uzrokuje koronavirusnu bolest COVID-19.
    </p>
    <hr>
    <h2>Šta je COVID-19?</h2>
    <p>COVID-19 je zarazna bolest kojiu izaziva nedavno otkriveni koronavirus. 
        Ovaj novi virus i bolest bili su nepoznati pre izbijanja epidemije u 
        gradu Wuhan u Kini, decembra 2019.</p>

    <hr>
    <h2>Koji su simptomi COVID-19?</h2>
    <p>Najčešći simptomi COVID-19 su groznica, umor i suv kašalj. Neki pacijenti mogu 
        imati bolove, curenje iz nosa, bolove u grlu ili proliv. Ovi simptomi su obično 
        blagi i počinju postepeno. Neki se zaraze, ali ne razviju nikakve simptome i 
        osećaju se dobro. Većina ljudi (oko 80%) oporavlja se od bolesti bez posebnog 
        lečenja. Otprilike 1 od svakih 6 osoba koje dobiju COVID-19 postanu ozbiljno 
        bolesne i razviju otežano disanje. Stariji ljudi i oni sa osnovnim medicinskim 
        problemima poput visokog krvnog pritiska, srčanim problemima ili dijabetesom 
        imaju veću verovatnoću da razviju ozbiljne bolesti. Osobe sa temperaturom, 
        kašljem i otežanim disanjem treba da potraže lekarsku pomoć.
    </p>
    <hr>
    <h2>Kako se širi COVID-19?</h2>
    <p>Ljudi se mogu zaraziti od drugih koji imaju virus. Bolest se može proširiti od osobe 
        do osobe malim kapljicama iz nosa ili usta koje se šire kada osoba sa COVID-19 
        kašlje ili izdahne. Ove kapljice slete na predmete i površine oko osobe. Ostali 
        ljudi hvataju COVID-19 tako što dodiruju ove predmete ili površine, a zatim dodiruju 
        njihove oči, nos ili usta. Zbog toga je važno da se odaljite više od jednog metra 
        od osobe koja je bolesna.
    </p>
    <hr>
    <h2>Da li virus može da se prenosi kroz vazduh?</h2>
    <p>Dosadašnja istraživanja sugerišu da se virus prenosi uglavnom kontaktom sa 
        zaraženim kapljicama, a ne kroz vazduh.
    </p>
    <hr>
    <h2>Da li se COVID-19 može uhvatiti od osobe koja nema simptome?</h2>
    <p>Glavni način na koji se bolest šiti je putem kapi koje izbacuje neko ko kašlje. 
        Rizik da uhvatite COVID-19 od nekoga bez ikakvih simptoma je vrlo nizak. 
        Međutim, mnogi ljudi sa COVID-19 imaju samo blage simptome. Ovo je naročito tačno 
        u ranim fazama bolesti. Stoga je moguće uhvatiti COVID-19 od nekoga ko ima, 
        na primer, blagi kašalj i ne oseća se bolesno. 
    </p>



    <hr>

    <h2>Šta mogu da uradim kako bih zaštitio sebe i sprečio širenje virusa?</h2>
    <h3>Osnovne zaštitne mere protiv Korona virusa</h3>

    <p>Budite svesni najnovijih informacija o epidemiji COVID-19. Većina ljudi koji 
        se zaraze dožive blagu bolest i oprave se, ali kod drugih može biti teže. 
        Vodite računa o svom zdravlju i zaštitite druge čineći sledeće:</p>

    <h3>Često perite ruke</h3>
    <p>Redovno i temeljno čistite ruke trljanjem ruku na bazi alkohola ili ih 
        perite sapunom i vodom. Pranje ruku sapunom ili upotrebnom ručnog trljanja 
        na bazi alkohola ubija viruse koji mogu biti na vašim rukama.
    </p>

    <h3>Održavajte socijalnu distancu</h3>
    <p>Održavajte najmanje 1 metar udaljenosti između sebe i svakoga ko kašlje ili kija. 
        Kada neko kašlje ili kija, iz nosa ili usta prskaju male kapljice tečnosti koje
            mogu da sadrže virus. Ako ste preblizu, možete udahnuti kapljice, uključujući 
            virus COVID-19, ako osoba koja kašlje ima bolest.
    </p>
  

    <h3>Izbegavajte dodirivanje očiju, nosa i usta</h3>
    <p>Ruke dodiruju mnoge površine i mogu pokupiti viruse. Jednom kada se kontaminira, 
        ruke mogu da prenesu virus u vaše oči, nos ili usta. Odatle virus može ući u vaše 
        telo i učiniti vas bolesnim.
    </p>

    <h3>Vežbajte respiratornu higijenu</h3>
    <p>Obavezno se pridržavajte dobre respiratorne higijene i Vi i ljudi oko vas. 
        To znači da pokrivate usta i nos savijenim laktom ili maramicom kada kašljete 
        ili kijate. Zatim odmah odložite upotrebljenu maramicu. Kapljice šire virus. 
        Pridržavajte se dobre repiratorne higijene, zaštitite ljude oko sebe od virusa 
        kao što su prehlada, grip i COVID-19.
    </p>
    <p>Ostanite kod kuće ako vam nije dobro. Ako imate temperaturu, kašalj i otežano disanje,
        potražite lekarsku pomoć i nazovite unapred. Pridržavajte se uputstva svog 
        lokalnog zdravstvenom organa. Nacionalne i lokalne vlasti imaće najnovije 
        informacije o situaciji u vašem području. Poziv unapred će omogućiti vašem lekaru
        da vas brzo usmeri u pravu zdravstvenu ustanovu. To će vas takođe zaštititi i pomoći 
        u sprečavanju širenja virusa i drugih infekcija.
    </p>

    <h3>Mere zaštite za osobe koje se nalaze ili su nedavno posetile (proteklih 14 dana) područja gde se širi COVID-19.</h3>

    <p>Sledite gore navedena uputstva.</p>
    <p>Ostanite kod kuće ako se ne osećate dobro, čak i sa blagim simptomima kao što su 
        glavobolja i blago curenje iz nosa, sve dok se ne oporavite. Izbegavanje kontakta
            sa drugima i posete medicinskim ustanovama omogućiće vam da ovi objekti rade 
            efikasnije i da vam pomognu da zaštitite sebe i ljude oko vas.</p>
    <p>Ako razvijete temperaturu, kašalj i otežano disanje, odmah potražite lekarsku pomoć, jer 
            to može biti posledica respiratorne infekcije ili drugog ozbiljnog stanja. 
            Nazovite unapred i recite svom lekaru za nedavna putovanja ili kontakt sa ljudima. 
            Taj poziv će omogućiti vašem lekaru da vas brzo usmeri u pravu zdravstvenu ustanovu. 
            To će takođe pomoći da se spreči moguće širenje COVID-19 virusa.
    </p>

    <hr>
    <h2>Kolika je verovatnoća da ću se zaraziti?</h2>
    <p>Rizik zavisi od toga gde se nalazite - tačnije da li se tamo odvija epidemija COVID-19.
        Sada širom sveta postoje gradovi gde se bolest širi. Za ljude koji žive ili 
        posećuju ove oblasti rizik od hvatanja COVID-19 je veći. Vlade i zdravstvene 
        vlasti preduzimaju snažne mere svaki put kada se utvrdi novi slučaj COVID-19. 
        Obavezno poštujte lokalna ograničenja putovanja, kretanja ili velikih okupljanja. 
        Saradnja sa naporima za suzbijanje bolesti umanjiće rizik od hvatanja ili širenja 
        COVID-19. Izbijanja COVID-19 mogu se obuzdati i prenošenje zaustaviti, kao što je 
        pokazano u Kini i nekim drugim zemljama. 
    </p>

    <hr>
    <h2>Trebam li brinuti o COVID-19?</h2>
    <p>Bolest zbog infekcije COVID-19 je uglavnom blaga, naročito za decu i mlade. 
        Međutim, može izazvati ozbiljne bolesti: oko 1 na svakih 5 ljudi koji je uhvate 
        trebaju bolničku negu. Stoga je sasvim normalno da se ljudi brinu o tome kako će 
        epidemija COVID-19 uticati na njih i njihove voljene. Svoju zabrinutost možemo 
        usmeriti u akcije zaštite sebe, svojih najmilijih i svoje zajednice. Prvo i najvažnije
        među ovim akcijama je redovno i temeljito pranje ruku i dobra higijena.
        Drugo, budite informisani i sledite savete lokalnih zdravstvenih vlasti, uključujući
        bilo kakva ograničenja koja se postavljaju za putovanja, kretanja i okupljanja.
    </p>

    <hr>
    <h2>Koji je rizik od razvoja teške bolesti?</h2>
    <p>Dok još uvek učimo o tome kako COVID-19 utiče na ljude, starije osobe i osobe sa 
        već postojećim medicinskim stanjima (poput visokog krvnog pritiska, srčanih bolesti, 
        bolesti pluća, raka ili dijabetesa) izgleda da se ozbiljnije razboljevaju nego druge osobe.
    </p>

    <hr>
    <h2>Da li su antibiotici efikasni u sprečavanju ili lečenju COVID-19?</h2>
    <p>Ne. Antibiotici ne deluju protiv virusa, deluju samo na bakterijske infekcije. 
        COVID-19 je uzrokovan virusom, tako da antibiotici ne deluju. Antibiotici se ne 
        smeju koristiti kao sredstvo za prevenciju ili lečenje COVID-19. Treba ih koristiti
        samo prema uputu lekara za lečenje bakterijske infekcije.
    </p>

    <hr>
    <h2>Postoje li neki lekovi ili terapije koje mogu da spreče ili izlele COVID-19?</h2>
    <p>Ne postoje dokazi da trenutni lek može sprečiti ili izlečiti bolest. 
        Međutim, postoji nekoliko kliničkih ispitivanja koja su u toku.</p>

    <hr>
    <h2>Da li postoji vakcina, lek ili tretman za COVID-19?</h2>
    <p>Ne još. Do danas ne postoji vakcija niti poseban antivirusni lek koji bi sprečio 
        ili lečio COVID-19. Međutim, zaraženi bi trebalo da budu pažljivi kako bi ublažili 
        simptome. Osobe sa ozbiljnom bolešću trebaju biti hospitalizovane. Moguća vakcija i 
        neki specifični tretmani lekovima su pod istragom. Oni se testiraju kroz klinička 
        ispitivanja. Najefikasniji načini zaštite sebe i drugih od COVID-19 su da često 
        perete ruke, prekrivate kašalj i kijanje savijanjem lakta ili maramicama i održavajte 
        udaljenost od najmanje jednog metra od ljudi koji kašlju ili kijaju. 
    </p>

    <hr>
    <h2>Da li da nosim masku da se zaštitim?</h2>
    <p>Nosite masku samo ako ste bolesni sa simptomima COVID-19 (posebno kašljanjem) 
        ili negujete nekoga ko može imati COVID-19. Jednokratna maska za lice može se 
        koristiti samo jednom. Savetuje se racionalna upotreba medicinskih maski kako bi se 
        izbeglo nepotrebno trošenje dragocenih resursa i pogrešna upotreba maski.
    </p>

    <hr>
    <h2>Kako staviti, koristiti, skinuti i odložiti masku?</h2>
    <ul>
        <li>Pre nego što dodirnete masku, očistite ruke sapunom i vodom, ili čišćenje na bazi alkohola.</li>
        <li>Uzmi masku i pregledaj je da li ima rupa.</li>
        <li>Okrenite je na ispravnu stranu (gore ide metalna traka).</li>
        <li>Osigurajte da je maska okrenuta prema vama (obojena strana ka van).</li>
        <li>Stavite masku na lice. Namestite metalnu traku tako da se oblikuje u obliku vašeg nosa.</li>
        <li>Spustite dno maske tako da pokriva usta i bradu.</li>
        <li>Nakon upotrebe skinite masku, uklonite elastične petlje iza ušiju, 
            dok masku držite dalje od lica i odeće da ne biste dodirnuli potencijalno 
            kontaminirane površine maske. Odbacite masku u zatvorenu kantu odmah nakon 
            upotrebe.</li>
        <li>Dobro operite ruke nakon dodirivanja i bacanja maske.</li>
    </ul>


    <hr>
    <h2>Koliko traje period inkubacije za COVID-19?</h2>
    <p>Period inkubacije znači vreme između hvatanja virusa i početka simptoma bolesti. 
        Većina procena perioda inkubacije za COVID-19 je oko 14 dana.</p>


    <hr>
    <h2>Da li se ljudi mogu zaraziti iz životinjskih izvora?</h2>
    <p>Koronavirusi su velika porodica virusa koja su česta kod životinja. 
        Povremeno se ljudi zaraze ovim virusima koji se mogu proširiti na druge ljude. 
        Mogući životinjski izvori COVID-19 još uvek nisu potvrđeni. Da biste se zaštitili, 
        poput posete pijacama sa živim životinjama, izbegavajte direktan kontakt sa 
        životinjama i površinama u dodiru sa životinjama. Zaštitite hranu u svakom trenutku. 
        Sa sirovim mesom, mlekom ili životinjskim organima postupajte pažljivo da izbegavate
        kontaminaciju nekuvane hrane i izbegavajte konzumiranje sirovih ili nekuvanih 
        životinjskih proizvoda.
    </p>

    <hr>
    <h2>Mogu li se zaraziti od svoj ljubimca?</h2>
    <p>Iako je do danas zabeležen jedan slučaj da se pas zarazi u Hongkongu, 
        nema dokaza da pas, mačka ili bilo koji kućni ljubimac mogu preneti COVID-19. 
        Virus se uglavnom širi kapljicama koje nastaju kada zaražena osoba kašlje, 
        kija ili govori. Da biste se zaštitili, često temeljno perite ruke.
    </p>

    <hr>
    <h2>Koliko dugo virus preživljava na površinama?</h2>
    <p>Nije sigurno koliko dugo virus opstaje na površinama, ali izgleda da se ponaša 
        kao i drugi koronavirusi. Studije sugerišu da koronavirusi mogu ostati na 
        površinama nekoliko sati ili do nekoliko dana. Ovo može da varira u različitim 
        uslovima (npr. vrsta površine, temperatura ili vlažnost okruženja). Ako mislite 
        da je neka površina zaražena, očistite je jednostavnom dezinfekcijom kako 
        biste ubili virus i zaštitili sebe i druge.
    </p>

    <hr>
    <h2>Da li je sigurno primiti paket iz bilo kojeg područja u kojem je prijavljen COVID-19?</h2>
    <p>Da. Verovatnoća da zaražena osoba kontaiminira komercijalnu 
        robu je mala, a rizik od hvatanja virusa koji uzrokuje COVID-19 iz 
        paketa koji je dugo vremena proveo u putu je takođe nizak.
    </p>

    <hr>
    <h2>Da li postoji nešto što ne bih treba da radim?</h2>
    <p>Sledeće mere nisu efikasne protiv COVID-19 i mogu biti štetne:</p>
    <ul>
        <li>Pušenje</li>
        <li>Nošenje više maski</li>
        <li>Uzimanje antibiotika</li>
    </ul>

    <hr>
    <h2>Da li je COVID-19 u vazduhu?</h2>
    <p>Virus koji izaziva COVID-19 prenosi se uglavnom kapljicama koje nastaju 
        kada zaražena osoba kašlje, kija ili govori. Te su kapljice preteške da bi 
        visile u vazduhu. Brzo padaju na podove ili površine. Možete se zaraziti 
        disanjem ako ste na metar od osobe koja ima COVID-19, ili ako dodirnete 
        zagađenu površinu, a zatim dodirnete oči, nos ili usta pre pranja ruku.
    </p>


</div>





<div class = footer>
    <p>2020 © Koronasrbija.info</p>
    <div class="fb-share-button" data-href="https://koronasrbija.info" data-layout="button_count" data-size="small">
        <a title = "facebook-share"target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fkoronasrbija.info%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Podeli</a>
    </div>


</div>